.container {
    background: url("../../assets/img/background.png") calc(50% + 26px) 50% / cover, linear-gradient(108deg, #e00000 50%, transparent 50%);
    background-repeat: no-repeat;
    height: 100vh;
}
